.preview-box {
    font-family: 'AmazonEmberMedium';
    width: 250px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-preview {
    height: auto;
    max-height: 90%;
    max-width: 100%;
}

.item-name {
    color: black;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 1em;
}

.item-price {
    color: black;
    font-size: 20px;
    display: flex;
}

.decimal-price {
    padding-top: 0.2em;
    font-size: 13px;
}

.dollar-sign {
    padding-top: 0.2em;
    font-size: 12px;
}

.item-preview-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 15em;
    padding-left: 1em;
}

/* .dollar-sign {
    font-size: 0.7em;
} */