.cart-items-homepage-1 {
  background-color: #ebeded;
  height: 100vh;
}

.cart-items-homepage-2 {
  background-color: #ebeded;
  /* height: 100vh; */
}

.cart-content {
  display: flex;
  justify-content: space-between;
}

.all-cart-items {
  background-color: white;
  width: 60vw;
  min-width: 45em;
  margin: 1em;
  padding: 1em;
}

.checkout-container {
  background-color: white;
  width: 30vw;
  min-width: 25em;
  height: 30vh;
  min-height: 10em;
  margin: 1em;
}

.select-all {
  margin-left: 0.7em;
  background: none;
  border: none;
  color: #017185;
  cursor: pointer;
}

.select-all:hover {
  color: #c45500;
  text-decoration: underline;
}

.cart-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopping-cart-text {
  margin-bottom: 0.2em;
  margin-left: 0.6em;
}